@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');   

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');   

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


/*  ----------------  general  --------------------   */


body {
    background-color: grey;
}

.container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
/*  ----------------  navbar  --------------------   */

.navbar-padding{
    height: 6rem
}

.custom_navbar {
    background-color: rgba(0, 0, 0, .75) !important;    
}

.covid-banner {
    background-color: #cc5137;
}

/*  ----------------  hero  --------------------   */

.polaroid-frame {
    position: relative;
    top: 3rem;
    margin-top: 2rem;
    border: solid 1px #000;
    background-color: #fff;
    padding-bottom: 3rem;
    text-align: center;
    box-shadow: .25rem .25rem .25rem .25rem rgba(84, 84, 84, .5); /*#545454*/
    transition: 1s ease-in-out;
}

.hero-background { /* removed  or not ?*/
    background-image: url("../images/hero-background.jpg");
    background-position: center;
    background-size: cover;
    height: 800px;
}

.polaroid-trans-1{
    transform: rotate(16deg);
    z-index: 1;
}

.polaroid-trans-2{
    transform: rotate(-8deg);
    z-index: 2;
}

.polaroid-trans-3{
    position: relative;
    right: 30px;
    transform: rotate(10deg);
    z-index: 1;
}

.polaroid-frame img {
    margin-top: 2rem;
    max-width: 95%;
    max-height: 100%;
    box-shadow: 1px 1px 2px 1px #d6d6d6;
}

.polaroid-frame p {
    font-family: "Caveat", sans-serif;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (min-width: 1200px) {  
    .polaroid-frame p {
        font-size: 3rem;

    }
}

/*  ----------------  hero js animation  --------------------   */

.polaroid-frame-shadow {
    transform: scale(1.1);
    box-shadow: 1rem 1rem 1rem 1rem rgba(84, 84, 84, .5);
    transition: 1.2s ease-out;
}

.polaroid-frame-movement {
    left: 70px;
    transition: 1.2s ease-out;

}

.z {
    z-index: 5;
}