@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');   

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');   
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


/*  ----------------  general  --------------------   */

body {
    background-color: rgb(112, 112, 112);
}

h1,
h2 {
    font-weight: 700;
}
/*  ----------------  navbar  --------------------   */

.navbar-padding{
    height: 5.5rem
}

.custom_navbar {
    background-color: rgba(0, 0, 0, .75) !important; 
}

#top,
#about-us,
#photos,
#location,
#contact {
    scroll-margin-top: 5rem;
}

/*  ----------------  hero  --------------------   */

.polaroid-frame {
    position: relative;
    top: 3rem;
    margin-top: 1rem;
    background-color: #fff;
    padding-bottom: 1rem;
    text-align: center;
    box-shadow: .25rem .25rem .25rem .25rem rgba(84, 84, 84, .5); /*#545454*/
    transition: 1s ease-in-out;
}

.hero-background { /* removed  or not ?*/
    background-image: url("../images/hero-background.jpg");
    background-position: center;
    background-repeat: repeat;
    min-height: 40rem;
}

.polaroid-trans-1{
    transform: rotate(16deg) scale(.9);
    z-index: 0;
}

.polaroid-trans-2{
    position: relative;
    transform: rotate(-4deg) scale(.9);
    z-index: 1;
    top: -1rem;
}

.polaroid-trans-3{
    transform: rotate(7deg) scale(.9);
    z-index: 1;
}

.polaroid-trans-4{
    position: relative;
    transform: rotate(-10deg) scale(.9);
    z-index: 0;
    right: 1rem;
    top: -1rem;
}

.polaroid-frame img {
    margin-top: 1rem;
    max-width: 95%;
    max-height: 100%;
    box-shadow: 1px 1px 2px 1px #d6d6d6;
}

.polaroid-frame p {
    font-family: "Caveat", sans-serif;
    font-size: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (min-width: 1200px) {  
    .polaroid-frame p {
        font-size: 2rem;

    }
}

/*  ----------------  hero js animation  --------------------   */



/*  ----------------  sub hero image text/filler  --------------------   */

.sub-hero-frame{
    font-family: "Special Elite", sans-serif;
    background-color:#010203;
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 1.5rem;
}

.sub-hero-img img {
    max-width: 100%;
    max-height: 35rem;
}

.sub-hero-frame h1,
.sub-hero-frame h2,
.sub-hero-frame p {
    padding: 2rem 1rem ;
}

.sub-hero-frame h1 {
    padding: 4rem;
}

.sub-hero-frame button {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*  ----------------  sub hero button  --------------------   */

.custom-sub-hero-button {
    padding: .5rem 1rem;
    background-color: rgba(0, 0, 0, .25);
    border: outset .5rem rgb(218, 33, 33);
    border-radius: 1rem;
    color: rgb(218, 33, 33);
    transition: 1s;
}

.custom-sub-hero-button:hover {
    background-color: #fff;
    color: #010203;
}

/*  ----------------  sub hero background image and filter  --------------------   */

.sub-hero-background-1,
.sub-hero-background-3,
.sub-hero-background-4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25rem;
}

.sub-hero-background-2 {
    background-repeat: no-repeat;
}
revoc ,
.sub-hero-background-1 {
    background-image: url("../images/sub-hero-background-1.jpg");
}

.sub-hero-background-1 div {
    background-color: rgba(0, 0, 0, .5);
    min-height: 100%;
}

.sub-hero-background-2 {
    position: relative;
}

.sub-hero-background-2 p,
.sub-hero-background-2 span {
    position: absolute;
    left: 0;
    right: 0;
}

.sub-hero-background-2 p {
    padding: 1rem .5rem; 
}

.sub-hero-background-2 span {
    padding: 3rem .5rem; 
}

.sub-hero-background-2 {
    background-image: url("../images/sub-hero-background-2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sub-hero-background-2 div {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .25);
    min-height: 100%;
}

.sub-hero-background-3 {
    background-image: url("../images/sub-hero-background-3.jpg");
}

.sub-hero-background-4 {
    background-image: url("../images/sub-hero-background-4.jpg");
}

.sub-hero-background-4 div {
    background-color: rgba(0, 0, 0, .60);
    min-height: 100%;
}
/*  ----------------  food carousel  --------------------   */

.photo-base {
    
}

.picture-level div {
    z-index: 1;
}

#picture-frame {
    min-height: 50rem;
    background-position: center;
    background-size: 75% 75%;
}

.thumb-tack {
    position: relative;
    left: 50%;
    top: .25rem;
    width: .5rem;
    height: .5rem;
    padding: .5rem;
    background-color: black;
    border-radius: 50%;
    z-index: 5;
    box-shadow: .2rem .2rem .1rem .1rem #7c7c7c;
}

#picture-frame img {
    height: 100%;
}

.gallery-polaroid img {
    object-fit: cover;
}

#picture-4,
#picture-8,
#picture-12 {
    transform: rotate(7deg) scale(.9);
}

#picture-3,
#picture-7,
#picture-11 {
    transform: rotate(-13deg) scale(.9);
}

#picture-2,
#picture-6,
#picture-10,
#picture-14 {
    transform: rotate(15deg) scale(.9);
}

#picture-1,
#picture-5,
#picture-9,
#picture-13 {
    transform: rotate(-9deg) scale(.9);
}

#picture-frame img {
        max-height: 85vh
}

.gallery-polaroid img {
    width: 100%;
    object-fit: contain;
    object-position: 50% 0%;
    max-height: 15rem;
    background-color: #010203;
}

.photo-gallery-frame div{
    width: 100%;
}

#photos {
    padding: 1rem 1rem 3rem 1rem;
    background-color: #f5f2d0;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}

.picture-frame {
    padding: 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 74% 66%;
}

#picture-frame {
    padding: 1rem;
}

.picture-frame img {
    width: 100%;
    box-shadow: .15rem .15rem .15rem .15rem #7c7c7c;
}

/*  ----------------  google maps  --------------------   */

.google-maps {
    text-align: center;
    background-color: #010203;
}

.google-maps iframe {
    width: 67vw !important;
    border: solid 2px #fff;
    border-radius: 15%
}

/*  ----------------  footer  --------------------   */

footer {
    font-family: "Special Elite", sans-serif;
    color: #fff;
    padding-right: 1rem;
    padding-left: 1rem;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}

footer h1 {
    text-shadow: .4rem .4rem .4rem rgba(0, 0, 0, .25);
    text-align: center;
    font-family: "Caveat", sans-serif;
    letter-spacing: 2px;

}

.footer-contact,
.footer-form,
.footer-social {
    padding: 2rem 2rem !important;
}

/*  ----------------  footer contact --------------------   */


.contact-method,
.contact-type {
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

.footer-contact span {
    text-align: left;
}

.footer-contact p {
    position: relative;
    left: 1.75rem;
}

.contact-type { /* phone email etc....*/
    display: inline-block;
    margin: 0;
    width: 25%;
}

.contact-type i {
    padding-right: .5rem;
}

.contact-method { /* number, address, etc...*/
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 70%;
    text-decoration: none;
}

/*  ----------------  footer form --------------------   */

.footer-form form{
    margin-top: 1.5rem;
    background-color: rgba(211, 207, 207, 0.692);
    padding: .5rem;
    box-shadow: 1rem 1rem 1rem 1rem rgba(84, 84, 84, .75);
    border-radius: .5rem;
}

.footer-form div {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.footer-form button {
    margin-bottom: 1rem;
}

.footer-form a {
    position: relative;
}

.form-button {
    padding: .5rem 1rem;
    background-color: rgba(0, 0, 0, .25);
    border: outset .5rem  rgba(218, 33, 33, .5);
    border-radius: 1rem;
    transition: 1s;
    color: #fff;
    font-size: 1.15rem;
}

.form-button:hover {
    border: outset .5rem  rgb(218, 33, 33);
    background-color: #fff;
    color: #010203;
}

/*  ----------------  footer social --------------------   */

.footer-social {
    text-align: center;
    font-size: 1.5rem;
}

.social-1,
.social-2,
.social-3 {
    transition: 1s ease-in-out !important;
}


.footer-social li {
    margin-top: 2rem;
    margin-right: 1.5rem;
}

.footer-social i {
    position: relative;
    top: .20rem;
}

.footer-social a {
    position: relative;
    padding: 1rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 1.5rem;
    left: 1rem;
    transition: 1s;
    color: #fff;
}

/*  ----------------  menu  --------------------   */

hr {
    width: 50%;
}

.menu-frame {
    text-align: center;
    color: #fff;
    background-image: url("../images/seamless-blackboard.jpg");
    box-shadow: .5rem .5rem .5rem .5rem rgb(56, 56, 56);
    margin-bottom: 2rem;
    font-family: "Gochi Hand", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: groove .5rem #caa472;
}

.menu-frame span {
}


.menu-img-1,
.menu-img-3,
.menu-img-4 {
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}

.menu-img-1 {
    /*background-image: url("../images/menu-1.jpg");*/
   text-align: center;
}

.menu-img-2 {
   /* background-image: url("../images/jerkchicken.png");*/
   text-align: center;
}

.menu-img-3 {
    background-image: url("../images/menu-3.jpg");
}

#menu {
    background-color: rgb(112, 112, 112);
    margin-top: 5rem;
}

.menu-frame h1 {
    color: rgb(173, 15, 15);
    font-size: 4rem;
    font-weight: 500;

}

.menu-frame h4 {
    color: rgb(173, 15, 15);
    font-size: 2.5rem;
    text-decoration: underline;
}

.erase-shadow p {
}

.menu-header {
    padding-top: 1.5rem;
    color: rgba(164, 202, 26, 0.473);
}

.menu-header h1,
.menu-header span {
    text-decoration: underline;

}

.menu-name-header {
    color: rgba(190, 30, 230, 0.692);
}

.meat-line {
    padding-top: 2rem;
    color: rgb(173, 15, 15);

}

.veggie-line {
    color: rgb(77, 192, 57);
}

.extra-line {
    color: rgb(129, 214, 253);
}

.pasta-line {
    color: rgb(174, 38, 201)
}

.drinks-line {
    color: rgb(15, 173, 165)
}

.beer-line {
    color: rgb(212, 122, 38);
}

.menu-name {
    display: inline-block;
    margin: 0;
    width: 70%;
}

.menu-value {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 25%;
}

.menu-veg {
    display: inline-block;
    margin: 0;
    width: 40%;
    vertical-align: top;
}

.menu-name-price {
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

.price {
    color: #fff;
}

#la-carte {
    color: #fff;
    text-decoration-color: #010203;
    text-decoration: none;
}
/*---------------------  modal -----------------------------*/

